.compliance-bar {
    &__container {
        font-family: urbanist;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 20px;
        background-color: black;
        width: 100%;
        position: absolute;
        top: 0;
    }

    &__clock {
        font-family: urbanist;
        letter-spacing: 1px;
    }
}