.game-controls {

    &__container {
        width: 340px;
        height: 100px;
        position: absolute;
        left: calc(50% - 170px);
        bottom: 0;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 15px;
        width: 100%;
    }

    &__display-container {
        width: 30%;
    }

    &__bank-container {
        height: 100px;
        background-color: rgba(0, 0, 0, 0.5490196078);
        padding: 0 5px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__horizontal {
        height: 1px;
        width: 100%;
        background-color: white;
    }

    &__spin-button {
        width: 100px;
        height: 100px;
        display: flex;
        font-size: 60px;
        background-color: #ffffff4f;
        color: white;
        border: 2px solid white;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1;
        font-family: 'Lato';
        cursor: pointer;
    }

    &__bet-display {
        font-size: 18px;
        font-family: 'Lato';
    }

    &__bank-display {
        font-size: 16px;
        font-family: 'Lato';
    }

    &__bet-button-container {
        display: flex;
        flex-direction: column;
    }

    &__bet-button {
        width: 50px;
        height: 50px;
        border: 1px solid white;
        border-radius: 75px;
        background-color: rgba(255, 255, 255, 0.2784313725);
        color: white;
        font-size: 27px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-family: 'Lato';
        line-height: 1;
        cursor: pointer;
    }

    &__bet-button.--minus {
        margin-left: auto;
    }

    &__button-container {
        position: absolute;
        bottom: 15px;
        margin-top: auto;
        width: 100%;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .game-controls {
        &__container {
            width: min(92vw, 340px);
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(env(safe-area-inset-bottom, 0px) + 6px);
            height: 112px;
        }

        &__button-container {
            bottom: 10px;
        }

        &__bank-container {
            height: 90px;
        }

        &__spin-button {
            width: 90px;
            height: 90px;
            font-size: 52px;
        }

        &__bet-button {
            width: 45px;
            height: 45px;
            font-size: 24px;
        }
    }
}
